mixin title (title, url, additionClass)
    .title
        svg(preserveAspectRatio="none" viewBox="0 0 498.161 175.44").about__section-title-background
            use(xlink:href=`assets/img/svg/${url}_header.svg#${url}`)
        div(class=additionClass)= title

mixin poligon (color)
    svg(
    viewbox="0 0 1000 100"
    preserveAspectRatio="none"
    class="poligon")
        polygon(points="0,0 0,100 1000,100 1000,0 500,100" fill=`#${color}`)

mixin socials(...socialslist)
    ul.socials
        each icon in socialslist
            li.socials__item
                a(href="#").socials__link
                    i(class=`fa fa-${icon}` aria-hidden="true")