extends ../main-layout

block content
  section.section.hero
    .hero__bg
      img(src="assets/img/header-img.jpg", alt="").hero__bg-img

    +socials('vk', 'github-alt', 'linkedin')

    svg.ghost-img-portfolio(preserveAspectRatio="none" viewBox="0 0 498.161 175.44")
      use(xlink:href="assets/img/svg/about_header.svg#about")

    //-a(href="").hamburger
      img(src="./assets/img/content/hamburger.png").hamburger-img


    a(href="#about-section").down-arrow
      svg.down-arrow__icon
        use(xlink:href="assets/img/sprite.svg#arrow_down")

    .hero__title_gen
      .user.hero__user-block
        .user__photo.user__photo_gen
          img(src="assets/img/avas/my-ava.jpg", alt="").user__photo-img
        .user__name Рысухин Максим
        .user__desc Личный сайт веб-разработчика

  section.section.about#about-section
    .about__left
      include ../parts/about/user-about
    .about__right
      include ../parts/about/about-data
    svg(
      viewbox="0 0 1000 100"
      preserveAspectRatio="none"
      class="triangle triangle_fill_about about__triangles")
      polygon(points="0,0 0,100 1000,100")
    svg(
      viewbox="0 0 1000 100"
      preserveAspectRatio="none"
      class="triangle triangle_fill_skills about__triangles")
      polygon(points="0,100 1000,100 1000,0")

  section.map
    div#my-map
      include ../parts/about/contacts-pad
    .empty
  block scripts
    script(type="text/javascript" src="./assets/js/app.js")
    script(async defer type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAflkxBEAiCJOLSeX0GG3drrzs0d2IJdCg&callback=initMap")